body {	
	padding: 5px;
	background-image: url(../images/bg.png);		
}

p {	
	padding: 5px;
}

#main {
	background-color: #ffff66;	
}

#game {
	display: none;	
}

header, h1 {
	font-family: 'Ranga', cursive;	
	font-size: 66px;	
	color: #008080;
	/*color: #66cdaa;*/
	/*color: #7fffd4;*/
}

button {
	padding-left: 105px;
	padding-right: 105px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #66cdaa;
	font-size: 24px;
	color: #ffffff;
}